.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Center {
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 200px;
}
